<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Chart</title>
  <link rel="stylesheet" href="">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
  <script src="script.js"></script>
</head>
<style>
  body {
    font-family: 'Roboto', sans-serif;
  }
  .content {
    padding-left: 100px;
    padding-right: 100px;
  }
</style>
<body>

  <div class="content">
      <h1>Chart vue</h1>
      <p>Tweets en liaison avec les trotinnettes les plus re-tweeter et liker dans le monde.</p>

      <p id="most_retweet"></p>
      <canvas id="myChart"></canvas>
  </div>
  
</body>
</html>

<script
  src="https://code.jquery.com/jquery-3.4.0.slim.js"
  integrity="sha256-milezx5lakrZu0OP9b2QWFy1ft/UEUK6NH1Jqz8hUhQ="
  crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<script>

</script>


<script> 
var data = JSON.stringify({
  "query": {
    "bool": {
      "must": [
        {
          "range": {
            "retweet_count": {
              "gt": 0
            }
          }
        }
      ],
      "should": [
        {
          "range": {
            "favorite_count": {
              "gt": 0
            }
          }
        }
      ]
    }
  },
  "sort": [
    {
      "retweet_count": {
        "order": "desc"
      }
    }
  ]
});

var xhr = new XMLHttpRequest();
xhr.withCredentials = true;

xhr.addEventListener("readystatechange", function () {
  if (this.readyState === this.DONE) {
    var res = this.responseText;
    var obj = JSON.parse(res);
    console.log(obj.hits.hits);
    console.log(obj.hits.total.value);

    $('#most_retweet').text('Nombre total de tweets : ' + obj.hits.total.value);

    // Chart
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'bar',

        // The data for our dataset
        data: {
            labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
            datasets: [{
                label: 'Tweets les plus re-tweeter et liker',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: [0, 10, 5, 2, 20, 30, 45]
            }]
        },

        // Configuration options go here
        options: {}
    });
  }
});

xhr.open("POST", "http://localhost:9200/twitter/_search");
xhr.setRequestHeader("cookie", "PHPSESSID=6ftkbi526eh2goofkon2u6gpj9");
xhr.setRequestHeader("content-type", "application/json");

xhr.send(data);

</script>