doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='//d3js.org/d3.v3.min.js')
    //script(src='https://d3js.org/topojson.v2.min.js')
    script(src='/javascripts/app.js')
